.bio-section {
  padding: 120px 10%;
  background-color: #151515; 
  color: var(--text-primary);
  overflow: hidden; 
}

.bio-container {
  display: flex;
  align-items: center;
  gap: 80px;
}


.bio-image {
  flex: 1;
  position: relative;
}

.bio-image img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  filter: grayscale(100%); 
  position: relative;
  z-index: 2; 
  transition: 0.5s ease;
}

.bio-image:hover img {
  filter: grayscale(0%); /* Color returns on hover my fav effect so far! */
}


.image-accent-box {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--accent); 
  z-index: 1;
}

/* The Text Side */
.bio-content {
  flex: 1;
}

.bio-subtitle {
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

.bio-content h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.highlight-text {
  color: var(--accent);
  font-style: italic;
}

.bio-text {
  color: var(--text-muted);
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.8;
}

/* bio stats */
.bio-stats {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 30px;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat-number {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  color: white;
}

.stat-label {
  color: var(--accent);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}